/*
gradle.log
!.classpath
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!/CHANGELOG.md
!build.gradle
!/gradle.properties
!.gitattributes
!*.json
!*.gradlew
!/models/
/src/generated/resources/.cache/